<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- t.string    :business_name
      t.text    :billing_address
      t.text    :street_address
      t.string    :unit
      t.string    :city
      t.integer   :zip_code
      t.string    :country
      t.string    :state
      t.string    :primary_phone
      t.string    :business_website
      t.timestamps -->
 <div><%= f.label :business_name %><br />
  <%= f.text_field :business_name, autofocus: true %></div>

  <div><%= f.label :billing_address %><br />
    <%= f.text_area :billing_address %></div>

  <div><%= f.label :street_address %><br />
    <%= f.text_area :street_address %></div>

  <div><%= f.label :unit %><br />
  <%= f.number_field :unit %></div>

  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>

  <div><%= f.label :zip_code %><br />
  <%= f.number_field :zip_code %></div>

  <div><%= f.label :country %><br />
  <%= f.text_field :country %></div>

   <div><%= f.label :state %><br />
  <%= f.text_field :state %></div>

 <div><%= f.label :primary_phone %><br />
  <%= f.text_field :primary_phone %></div>

 <div><%= f.label :business_website %><br />
  <%= f.text_field :business_website %></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
