<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Billing Address</th>
      <th>Street Address</th>
      <th>Unit#</th>
      <th>City</th>
      <th>ZipCode</th>
      <th>State</th>
      <th>Primary Phone</th>
      <th>Business Website</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
         <td><%=  customer.business_name %></td> 
         <td><%= customer.billing_address %></td>
        <td><%= customer.street_address %></td>
        <td><%= customer.unit %></td>
        <td><%= customer.city %></td>
        <td><%= customer.zip_code %></td>
        <td><%= customer.state %></td>
        <td><%= customer.primary_phone %></td>
        <td><%= customer.business_website %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
