<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @contact.office_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @contact.mobile_phone %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @contact.email_address %>
</p>

<p>
  <strong>Preferred contact method:</strong>
  <%= @contact.preferred_contact_method %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contact.customer_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
