<!DOCTYPE html>
<html>
<head>
  <title>Customprofiles</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  	<% if user_signed_in? %> 
  	 <%= link_to ' Customers', customers_path %>
     <%= link_to ' Contacts', contacts_path %>
     <%= link_to ' Projects', projects_path %>
    
	<%= render "shared/header" %>
 	<% end %>	
<%= yield %>

</body>
</html>
